.container {
    width: 100%;
    max-width: 760px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #4b4b4b;
    box-sizing: border-box;
}
