.wrapper {
    box-sizing: border-box;
    padding: 10px 15px;
    border-top: 1px solid lightgray;
}
.container {
    width: 100%;
    max-width: 760px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px 0;
}