.header {
    height: 50px;
    background-color: #00a700;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.logo  a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
